{% extends "./layout.njk" %}  
{% block content %}  
  <main>
    <img src="https://avatars0.githubusercontent.com/u/26700193?s=460&v=4" alt="wil-g2">
    <div class="bio">
      <h1>FullStack Developer Node|React| React Native</h1>
      <h2>Na Climatempo</h2>
      <p>
        Conhecimento nas seguintes tecnologias Node.js, express, agenda, agendash, mongoose, dotenv, nodemon, nodemailer,
        node-xlsx...
      </p>
    </div>
  </main>
{% endblock %}