{% extends "./layout.njk" %}  
{% block content %}  
  <main>
    <h1 class="title" >Skills</h1>    
    <div class="container">
      <div class="content">
        <p>HTML</p>
        <div class="skills html">90%</div>
      </div>
      <div class="content">
        <p>JavaScript</p>
        <div class="skills javascript">70%</div>
      </div>
      <div class="content">
        <p>CSS</p>
        <div class="skills css">80%</div>
      </div>
      <div class="content">
        <p>React</p>
        <div class="skills react">50%</div>
      </div>
      <div class="content">
        <p>React Native</p>
        <div class="skills react-native">50%</div>
      </div>
      <div class="content">
        <p>Node.js</p>
        <div class="skills node">65%</div>
      </div>
      <div class="content">
        <p>PHP</p>
        <div class="skills php">60%</div>
      </div>
    </div>
  </main>
{% endblock %}