<footer>
    <div class="contact">
      <a href="https://www.github.com/wil-g2" target="_blank">GitHub <i class="fa fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/willian-gaudencio-38864312b" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i></i></a>
    </div>
  <div class="footer">
    <p>
      Todos direitos reservados  © Copyright Wil-g2 
    </p>
  </div>
</footer>